<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ユーザー登録確認</title>
    </head>
    <body>
        <form action="{{ path('complete') }}" method="post">
            <p>
                firstName:{{ firstName }}
            </p>
            <p>
                lastName:{{ lastName }}
            </p>
            <p>
                firstNameKana:{{ firstNameKana }}
            </p>
            <p>
                lastNameKana:{{ lastNameKana }}
            </p>
            <p>
                email:{{ email }}
            </p>
            <p>
                password: ********
            </p>
            <p>
                <button type="submit">Send</button>
            </p>
        <form>
    </body>
</html>
